
*{
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
}

/*ヘッダー*/
.inner{
    position: relative;
    padding: 0 132px 0 132px;
    box-shadow: 0 10px 10px -7px rgba(0,0,0,0.5);
}
header ul{
    display: flex;
    justify-content:flex-end;
    margin: 0;
    padding: 50px 0 50px 0;
}
.gnav a{
    margin-left:20px;
    color: black;
    font-weight: bold;
   
}
.gnav_now{
    border-bottom: 2px solid #f8ef17;
   
}
.inner img{
    width: auto;
    height: 130px;
    position: absolute;
    bottom: 0;
    left: 132px;
}



/*フッター*/
.end{
    background-color: #f8ef17;
    margin: 0;
    padding: 0;
}
.end a{
    color: black;
}
.end p{
    padding-left: 40px;
    padding-top: 50px;
    font-size: 22px;
    font-weight: bold;
}
.end ul{
    text-align: left;
}
.end li{
    padding: 10px 0;
}
.Ls_1{
    display: flex;
    justify-content: flex-end;
    padding-left: 10%;
    padding-bottom: 20px;
}
.end nav li:first-child{
    font-weight: bold
}
.Ls_1:last-child{
    padding-right: 100px;
}
.sns_icon{
    margin: 0;
    background-color: #f8ef17;
}
.sns_icon ul{
    margin: 0;
    display: flex;
}
.sns_icon li{
    padding: 10px;
}
.sns_icon li:first-child{
    padding-left: 50px;
}
