*{
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
}
.inner{
    position: relative;
    padding: 0 132px 0 132px;
    box-shadow: 0 7px 7px -7px rgba(0,0,0,0.5);
}
header ul{
    display: flex;
    justify-content:flex-end;
    margin: 0;
    padding: 50px 0 50px 0;
}
.gnav a{
    margin-left:20px;
    color: black;
    font-weight: bold;
   
}
.gnav_now{
    border-bottom: 2px solid #f8ef17;
   
}
.inner img{
    width: auto;
    height: 130px;
    position: absolute;
    bottom: 0;
    left: 132px;
}
/*キービジュアル*/
.key_inner{
    padding-bottom: 140px;
}
.key_inner h1{
    font-size: 48px;
    padding-top: 70px;
    padding-left: 15%;
}
.key_inner p{
    color: #848484;
    padding-left: 15%;
    font-size: 20px;
}
.intro_corner{
    background-color: #fffff1;
    padding-bottom: 200px;
}
.corner_title{
    padding-top: 150px;
}
.corner_title h2{
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
}
.corner_text{
    text-align: center;
    line-height: 170%;
    padding-bottom: 130px;
    font-size: 18px;
}
#history{
    display: flex;
}
#history p{
    font-size: 128px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}
#history p:first-child{
    color: white;
    padding-left:250px ;
    padding-right: 350px;
}
#history p:last-child{
    color: #f8ef17;
    padding-right: 250px;
    padding-left: 350px;
}

/*== 矢印の線がループして伸縮 */

.btnlinestretches5{
    /*線の基点とするためrelativeを指定*/
  position:relative;
    /*リンクの形状*/ 
  color:#333;
    padding: 5px 0;
  display:inline-block;
    text-decoration: none;
    outline: none;
}

/*線の設定*/
.btnlinestretches5::before {
    content: "";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    top: 300px;
    left: 15%;
    /*線の形状*/
    width: 100%;
    height: 1px;
    background: #333;
}

/*矢印の設定*/
.btnlinestretches5::after {
    content: "";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom:-4px;
    /*矢印の形状*/
    width: 8px;
    height: 8px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    transform: rotate(45deg);
}

/*線と矢印を繰り返しアニメーション*/
.btnlinestretches5::before {
    animation: arrowlong01 2s ease infinite;
}
.btnlinestretches5::after {
    animation: arrowlong02 1.9s ease infinite;
}

@keyframes arrowlong01{
    0%{width:17%;opacity:0}
    20%{width:17%;opacity:1}
    80%{width:70%;opacity:1}
    100%{width:70%;opacity:0}
}

@keyframes arrowlong02{
    0%{left:0%;opacity:0}
    20%{left:0%;opacity:1}
    80%{left:85%;opacity:1}
    80%{top:295px;opacity:1;}
    100%{left:85%;opacity:0}
}

/*フッター*/
.end{
    background-color: #f8ef17;
    margin: 0;
    padding: 0;
}
.end a{
    color: black;
}
.end p{
    padding-left: 40px;
    padding-top: 50px;
    font-size: 22px;
    font-weight: bold;
}
.end ul{
    text-align: left;
}
.end li{
    padding: 10px 0;
}
.Ls_1{
    display: flex;
    justify-content: flex-end;
    padding-left: 10%;
    padding-bottom: 20px;
}
.end nav li:first-child{
    font-weight: bold
}
.Ls_1:last-child{
    padding-right: 100px;
}
.sns_icon{
    margin: 0;
    background-color: #f8ef17;
}
.sns_icon ul{
    margin: 0;
    display: flex;
}
.sns_icon li{
    padding: 10px;
}
.sns_icon li:first-child{
    padding-left: 50px;
}